/* Add Product */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

/* FORM CONTAINER */
.form-container {
    max-width: 500px; /* Reduced width */
    margin: 20px auto; /* Center the form */
    padding: 20px;
    background: var(--light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--dark-grey);
    background-image: linear-gradient(to bottom right, #fff, #f8f8f8);
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--blue);
    text-align: center;
    font-weight: 700;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark);
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #000000; /* Updated border color and width */
    border-radius: 6px;
    background: var(--light);
}

.form-container textarea {
    resize: vertical;
    min-height: 100px;
}

/* Save Button */
.form-container button {
    padding: 12px 20px;
    background-color: #7b4e83;
    color: var(--light);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
    color: #fff;
}

/* Save Button Hover Effect */
.form-container button:hover {
    background-color: #5e3b62; /* Darkened color on hover */
}
