/* ORDER FORM */
#order-form {
    position: fixed; /* Fixes the form's position to the viewport */
    top: 40%; /* Centers the form vertically */
    left: 50%; /* Centers the form horizontally */
    transform: translate(-50%, -50%); /* Offsets the form by 50% of its width and height */
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 1000px; /* Allows the container to adapt to different screen sizes */
    padding: 30px; /* Increased padding */
    box-sizing: border-box; /* Includes padding in the width and height calculations */
    margin-left: 100px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #7b4e83;
    text-align: center;
    font-weight: 900;
}

.form-container label {
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark);
}

/* FORM ELEMENTS */
.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid black; /* Set border color to black */
    border-radius: 6px;
    background: #f8f8f8; 
    color: black; /* Set text color to black */
}


.form-container button {
    padding: 12px 20px;
    background-color: #7b4e83;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

